In [12]:
import pandas as pd
import numpy as np

In [13]:
df = pd.read_csv('dataset_uncleaned_28072020.csv')

In [14]:
df= df[[ 'industry', 'disbursal_date',
       'tnc_amount_first', 'tnc_ir_first', 'tnc_tenure_first',
       'min_cibil_score', 'loan_type',  'd_date_of_birth', 'vintage',
       '3m_avg_bal', '3m_avg_bal_new', 'total_liab_new', '90adb',
       'l_created_date', 'tenure', 'score', 'rounded_score']]

In [15]:
# only the selected columns are used because the other extra columns were used to query data effectively (data retrieval filters)

In [16]:
df.head()

,industry,disbursal_date,tnc_amount_first,tnc_ir_first,tnc_tenure_first,min_cibil_score,loan_type,d_date_of_birth,vintage,3m_avg_bal,3m_avg_bal_new,total_liab_new,90adb,l_created_date,tenure,score,rounded_score
0,Building supplies and accessories,2018-05-11 05:30:00,180000,1.8,24,725.0,ecom,1991-06-01,12.0,87212.746667,88753.76,0.0,88753.76,2018-05-03 05:42:12.601,19,1.473684,1
1,Industrial Supplies & Solutions,2018-07-09 05:30:00,700000,1.8,24,644.0,ecom,1973-03-20,37.0,89512.400000,87169.43,0.0,87169.43,2018-06-27 05:25:36.939,17,1.294118,1
2,"Computers,Mobile & related Accessories",2018-09-05 05:30:00,270000,2.0,24,741.0,ecom,1987-11-08,55.0,40480.353333,43564.94,350000.0,43564.94,2018-08-22 08:27:54.742,15,1.400000,1
3,Other Service Activities,2018-07-27 05:30:00,50000,1.8,12,649.0,ecom,1983-09-26,12.0,12079.006667,11838.57,264313.0,11838.57,2018-06-04 05:13:18.035,12,1.250000,1
4,"Home, Furnishing and Decor",2018-07-24 05:30:00,70000,2.1,12,694.0,ecom,1987-12-31,22.0,8215.353333,8030.16,64959.0,8030.16,2018-06-13 10:30:35.362,12,1.416667,1

In [17]:
# inserting null values with the mean of the column
df = df.fillna(df.mean())

In [18]:
# converting date columns to type datetime
df['disbursal_date']=pd.to_datetime(df.disbursal_date)
df['d_date_of_birth'] = pd.to_datetime(df.d_date_of_birth)
df['l_created_date'] = pd.to_datetime(df.l_created_date)

In [19]:
# choosing numerical columns only for analysis (excluding categorical) 
columns = ['disbursal_date', 'tnc_amount_first',
       'tnc_ir_first', 'tnc_tenure_first', 'min_cibil_score',
        'd_date_of_birth', 'vintage', '3m_avg_bal', '3m_avg_bal_new',
       'total_liab_new', '90adb', 'l_created_date', 'tenure']

In [20]:
# normalizing data via min-max
for j in columns:
    normalized_disbursal_list = []
    max_disbursal = df[j].max() 
    min_disbursal = df[j].min()
    for i in range(df.shape[0]):
        normalized_disbursal = (df[j][i] - min_disbursal)/(max_disbursal- min_disbursal)
        normalized_disbursal_list.append(normalized_disbursal)
    df[j] = normalized_disbursal_list

In [21]:
df.head()

,industry,disbursal_date,tnc_amount_first,tnc_ir_first,tnc_tenure_first,min_cibil_score,loan_type,d_date_of_birth,vintage,3m_avg_bal,3m_avg_bal_new,total_liab_new,90adb,l_created_date,tenure,score,rounded_score
0,Building supplies and accessories,0.093398,0.014173,0.444444,0.657143,0.867384,ecom,0.870968,0.019481,0.833058,0.208023,0.000002,0.323554,0.543076,0.90,1.473684,1
1,Industrial Supplies & Solutions,0.188406,0.055118,0.444444,0.657143,0.770609,ecom,0.563777,0.073593,0.833087,0.207978,0.000002,0.323515,0.587864,0.80,1.294118,1
2,"Computers,Mobile & related Accessories",0.281804,0.021260,0.555556,0.657143,0.886499,ecom,0.810842,0.112554,0.832474,0.206731,0.001347,0.322450,0.633580,0.70,1.400000,1
3,Other Service Activities,0.217391,0.003937,0.444444,0.314286,0.776583,ecom,0.741335,0.019481,0.832119,0.205823,0.001018,0.321675,0.569124,0.55,1.250000,1
4,"Home, Furnishing and Decor",0.212560,0.005512,0.611111,0.314286,0.830346,ecom,0.813291,0.041126,0.832070,0.205714,0.000252,0.321582,0.576634,0.55,1.416667,1

In [25]:
df.columns = ['C1', 'X1', 'X2', 'X3', 'X4', 'X5', 'C2', 'X6', 'X7', 'X8', 'X9', 'X10', 'X11', 'X12', 'X13', 'score', 'Y']

In [26]:
df.columns

Index(['C1', 'X1', 'X2', 'X3', 'X4', 'X5', 'C2', 'X6', 'X7', 'X8', 'X9', 'X10',
       'X11', 'X12', 'X13', 'score', 'Y'],
      dtype='object')

In [27]:
df.head()

,C1,X1,X2,X3,X4,X5,C2,X6,X7,X8,X9,X10,X11,X12,X13,score,Y
0,Building supplies and accessories,0.093398,0.014173,0.444444,0.657143,0.867384,ecom,0.870968,0.019481,0.833058,0.208023,0.000002,0.323554,0.543076,0.90,1.473684,1
1,Industrial Supplies & Solutions,0.188406,0.055118,0.444444,0.657143,0.770609,ecom,0.563777,0.073593,0.833087,0.207978,0.000002,0.323515,0.587864,0.80,1.294118,1
2,"Computers,Mobile & related Accessories",0.281804,0.021260,0.555556,0.657143,0.886499,ecom,0.810842,0.112554,0.832474,0.206731,0.001347,0.322450,0.633580,0.70,1.400000,1
3,Other Service Activities,0.217391,0.003937,0.444444,0.314286,0.776583,ecom,0.741335,0.019481,0.832119,0.205823,0.001018,0.321675,0.569124,0.55,1.250000,1
4,"Home, Furnishing and Decor",0.212560,0.005512,0.611111,0.314286,0.830346,ecom,0.813291,0.041126,0.832070,0.205714,0.000252,0.321582,0.576634,0.55,1.416667,1

In [28]:
# df.to_csv('cleaned_dataset.csv', index=False)